<button class="btn btn-primary" data-ng-click="addComment()">Add Comment</button>   
 <table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>CreativeId</th>
            <th>Likes</th>
            <th>Text</th>
            <th>User</th>
            <th>Action</th>                               
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="comment in comments">
        <td>
            {{ comment.id }}                                       
            </td>
            <td>
                {{ comment.creativeId }}
            </td>                    
            <td>
                <ul> 
                    <li data-ng-repeat="like in comment.likes">                  
                        {{like.userName}}
                    </li>
                </ul>                                   
            </td>                  
            <td>
                {{ comment.text }}
            </td>
            <td>
                {{ comment.userName }}
            </td>
            <td>
                <button class="btn btn-primary" data-ng-click="deleteComment(comment.id)">Delete comment</button>
                <button class="btn btn-primary" data-ng-click="addLike(comment.id)">Like!</button>           
            </td>
        </tr>
    </tbody>
</table>
<div class="row" data-ng-if="newComment != undefined">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">               
        <h2 class="form-login-heading"><p align="center">New comment</p></h2>
        <textarea class="form-control" name="Text1" data-ng-model="newComment.text" cols="80" rows="5"></textarea>  
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            <br>
            <button class="btn btn-md btn-info btn-block" type="button" data-ng-click="createComment()">Save</button>   
            <br>  <br> 
        </div> 
    </div>
</div>