<div class="container">
    <div class="col-md-12 well" id="rightPanel">
	        <div class="row">
	    		<div class="col-md-12">
			    	<form role="form">
			    	<div class="col-md-12">
			    	<a data-ng-click="deleteCreative()">
			    		<i style="cursor: pointer;"class="fa fa-4x fa-trash-o pull-right"></i>
			    	</a>
			    	<a data-ng-click="saveCreative()">
			    		<i style="cursor: pointer;" class="fa fa-4x fa-floppy-o pull-right"></i>
			    	</a>
						<h2 align="center">{{translation.EDIT_CREATIVE}}</h2><hr ></div>
						 <div data-ng-if="showLoading" class="loading text-center"><br><br>
								<i  class="fa fa-spinner fa-pulse fa-spin" style="font-size: 24px"></i>
				    		</div>
						 <div class="col-md-12" data-ng-if="message != ''">
				            <div class="col-md-3">&nbsp;</div>
				            <div class="col-md-6">
				            	<div data-ng-class="(savedSuccessfully) ? 'text-center _btn _btn-rounded _btn-round-tosquare _btn-lg  _btn-bordered-success' : 'text-center _btn _btn-rounded _btn-round-tosquare _btn-lg  _btn-bordered-danger'" role="alert">
									<i class="fa fa-exclamation"></i>
									<span class="sr-only">Result:</span>
									{{message}}
								</div>
				            </div>
				        </div><br>
			        </div>          
						<div class="row">
								<div class="col-md-2">&nbsp;</div>
						<div class="col-md-8">
								<div class="form-group">
									<input type="text" data-ng-model="creative.name" name="last_name" id="last_name" class="form-control input-lg" placeholder="Creative Name" tabindex="2">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">&nbsp;</div>
							<div class="col-md-8">
								<div class="form-group">
									<textarea type="text" data-ng-model="creative.description" class="form-control input-lg" placeholder="Creative Description" tabindex="4"></textarea> 
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-2">&nbsp;</div>
							<div class="col-md-8">
								<tags-input ng-model="tags" display-property="name" placeholder="{{translation.ADD_TAGS}}" debounce-delay="0" add-on-paste="true">
	                    		<auto-complete max-results-to-show="5" source="loadTags($query)"></auto-complete>
	                    		</tags-input>
                    		</div>
                    		<br>
						</div>
						<hr >
						<div class="row">						
							<div class="col-md-12">	
						  		<div class="col-xs-12 col-md-12">
								
								
										<p align="center"><a data-ng-href="#/chapters/{{creativeId}}/0" class=""><i class="fa fa-4x fa-plus-square-o"> </i></a></p>
						  		
						  		</div>						  		
							  	<div ui-sortable="sortableOptions" data-ng-model="chapters">
									<div data-ng-repeat="item in chapters" class="col-md-3 text-center">
										<i style="margin-top: 20px; margin-right: 10px; cursor: pointer;" class="fa fa-2x fa-minus-square-o pull-right" data-ng-click="deleteChapter(item.id)"></i>
                    					<div class="box "> 
                        					<div class="box-content">
                            					<h4 style="word-wrap: break-word;" class="tag-title"> 
                            						#{{$index+1}}<br>{{item.name.slice(0,20)}}
                            					</h4>
                            					<hr />
                            					<a data-ng-href="#/chapters/{{creativeId}}/{{item.id}}"><i class="fa fa-4x fa-pencil-square-o"></i></a>							
                        					</div>
                    					</div>
                					</div>
                				</div>	 
						  		<div class="clear"></div>
							</div>
						</div>
						<hr>
						
					</form>
				</div>
			</div>								
		</div>
</div>