<div data-ng-hide="authentication.isAuth" class="jumbotron">
    <div class="container">
        <div class="page-header text-center">
            <h1>{{translation.MAIN_TEXT}}</h1>
        </div>
        <p>{{translation.SECONDARY_TEXT}}</p>  
        <div class="col-md-12">
            <div class="col-md-6 text-center">
                <h2>{{translation.LOGIN}}</h2>
                <p class="text-primary">
                   {{translation.LOGIN_TEXT}}
                </p>
                <p><a class="btn btn-info" href="#/login" role="button">{{translation.LOGIN}} &raquo;</a></p>
            </div>
            <div class="col-md-6 text-center">
                <h2>{{translation.SIGNUP}}</h2>                        
                <p class="text-primary">    
           {{translation.SIGNUP_TEXT}}
                </p>
                <p>
                    <a class="btn btn-info" href="#/signup" role="button">{{translation.SIGNUP}} &raquo;</a>
                </p>
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>
    </div>
</div>


<div data-ng-hide="!authentication.isAuth" class="container">
    <div class="page-header text-center">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6 text-center" >
                <p align="center">
                <img data-ng-if="userInfo.avatarUri == undefined" style="width: 200px; height:200px;" align="center" src="http://res.cloudinary.com/ddttiy9ko/image/upload/v1458831441/avatar_sdaz7g.jpg" alt="Texto Alternativo" class="img-thumbnail">
                    <img  data-ng-if="userInfo.avatarUri != undefined" class="media-object dp img-circle" data-ng-src="{{userInfo.avatarUri}}" style="width: 150px; height:150px;">
                </p>
                <h3>{{userInfo.firstName}} {{userInfo.lastName}}</h3>
                <hr style="margin:8px auto">
                <h5>{{userInfo.email}}</h5>
            </div>
        </div>

        <div class="global-modal">
            <div class="overlay"></div>
            <div class="global-modal_contents modal-transition">
                <div class="global-modal-header">
                    <span class="mobile-close"> X </span>
                   <h3><b> <i class="fa fa-2x fa-edit"></i>{{translation.NEW_CREATIVE}}</b></h3>
                </div>
                <div class="global-modal-body">
                <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-10">
                      <h2 class="form-login-heading">{{translation.NEW_CREATIVE}}</h2>
                    <input maxlength="20" type="text" class="form-control" data-ng-model="creativeName" placeholder="{{translation.CREATIVE_NAME}}" required autofocus> 
                    <h2 class="form-login-heading">{{translation.DESCRIPTION}}</h2>
                    <textarea type="text" class="form-control" maxlength="100" data-ng-model="creativeDescription" placeholder="{{translation.DESCRIPTION}}" required autofocus>{{creativeDescription}} </textarea> 
                   
                    <h2 class="form-login-heading">{{translation.TAGS}}</h2>
                    <tags-input ng-model="tags" display-property="name" placeholder="{{translation.TAGS}}" debounce-delay="0" add-on-paste="true">
                    <auto-complete max-results-to-show="5" source="loadTags($query)"></auto-complete>
                    </tags-input>   
    
                    <h2 class="form-login-heading">{{translation.CATEGORY}}</h2>  
                    <select class="form-control" ng-init="currentCategory = categories[0]"  data-ng-model="currentCategory" data-ng-options="act.name for act in categories">
                    </select>    
                               <div class="block center">      
            <a class="btn-green-flat-trigger" data-ng-click="createCreative()">{{translation.SAVE}}</a>
                </div><br>
                    </div>
          
                </div>
            </div>
        </div>
        <div class="block center">      
            <a class="btn-green-flat-trigger">{{translation.NEW_CREATIVE}}</a>
            <br><br> <br>
        </div>
    </div>



    <div class="col-md-12 margin-bottom-30" data-ng-repeat="creative in creatives">
        <div class="portlet portlet-bordered">
            <div class="portlet-title">
                <div class="caption caption-red">
                    <i class="glyphicon glyphicon-cog"></i>
                    <span class="caption-subject text-uppercase">{{creative.name}}</span>
                    <span class="caption-helper">weekly stats...</span>
                </div>
                <div class="actions">  
                    <a ng-href="#/show/{{creative.id}}" class="btn"><i class="glyphicon glyphicon-align-justify"></i>Show</a>
                    <a data-ng-href="#edit/{{creative.id}}" class="btn">
                        <i class="glyphicon glyphicon-pencil"></i>
                        Edit
                    </a> 
                    <a data-ng-click="deleteCreative(creative.id)" class="btn btn-red btn-circle">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>                    
                </div>
            </div>
            <div class="portlet-body">
                <h4>{{creative.description}}</h4>
                <p data-ng-repeat="chapter in creative.chapters">{{$index + 1}}. {{chapter.name}}</p>
            </div>
        </div>

    </div>
    </div>