<div class="container">
    <div class="page-header text-center">
        <h1>{{translation.MAIN_TEXT}}</h1>
    </div>        
    <div class="col-md-12 margin-bottom-30" data-ng-repeat="creative in creatives">
        <div class="portlet portlet-bordered">
            <div class="portlet-title">
                <div class="caption caption-red">
                    <i class="glyphicon glyphicon-cog"></i>
                    <span class="caption-subject text-uppercase">{{creative.name}}</span>
                    <span class="caption-helper">weekly stats...</span>
                </div>
                <div class="actions">  
                    <a ng-href="#/show/{{creative.id}}" class="btn"><i class="glyphicon glyphicon-align-justify"></i>{{translation.SHOW}}</a>
                </div>
            </div>
            <div class="portlet-body">
                <h4>{{creative.description}}</h4>
                <p data-ng-repeat="chapter in creative.chapters">{{$index + 1}}. {{chapter.name}}</p>
            </div>
        </div>
    </div>
</div>