<!-- <div class="container"> -->
  <div class="banner">
        <div class="container">
      <div class="logo">
        <!-- <a href="index.html"><img src="images/logo.png" class="img-responsive" alt="" /></a> -->
      </div>   
    </div>  
  </div>

<div class="widget--tags text-center">
        <a href="" data-ng-repeat="tag in tags | orderBy: 'count' : true" class="tag" data-count="{{tag.count}}" data-ng-click='search(tag.name)'>{{tag.name}}</a>
  </div>
  <
    <div class="col-md-9">
   

  <hr style="opacity: 0">
    
  <div style="height: 400x; overflow: auto;" infinite-scroll='loadMore()' infinite-scroll-distance='2'>
      <div class='container-fluid'>
          <div class="col-md-12 margin-bottom-30"  data-ng-repeat="creative in creatives">
              <div class="blog-post">
                  <div class="col-md-12">
                      <div class="col-md-2">
                          <a data-ng-href="#/show/{{creative.id}}">
                              <img style="width: 150px; height:150px;" data-ng-if="creative.avatarUri" align="center" data-ng-src="{{creative.avatarUri}}" alt="Texto Alternativo" class="img-thumbnail">
                              <img style="width: 150px; height:150px;" data-ng-if="creative.avatarUri == undefined"  align="center" src="http://res.cloudinary.com/ddttiy9ko/image/upload/v1458831441/avatar_sdaz7g.jpg" alt="Texto Alternativo" class="img-responsive">
                            </a>
                      </div>
                      <div class="col-md-10">    
                          <div class="col-md-12">
                              <div class="col-md-9" style='word-wrap: break-word;'>
                                  <h2 class="blog-post-title">
                                      <a data-ng-href="#/show/{{creative.id}}">
                                          {{creative.name}}
                                      </a>
                                  </h2>
                              </div>
                              <div class="col-md-3"> 
                                  <div class="pull-right">
                                         <div class="col-md-12">
                                      <span style="font-size:36px" data-ng-if="creative.avgRating > 4">
                                          <i class="fa fa-star " ></i> {{creative.avgRating.toFixed(2)}} 
                                      </span> 
                                      <span style="font-size:36px" data-ng-if="creative.avgRating >= 2 && creative.avgRating <= 4 ">
                                          <i class="fa fa-star-half-o " ></i>
                                           {{creative.avgRating.toFixed(2)}} 
                                      </span>     
                                      <span style="font-size:36px" data-ng-if="creative.avgRating < 2">
                                          <i class="fa fa-star-o" ></i>
                                           {{creative.avgRating.toFixed(2)}} 
                                      </span>    
                                      </div>
                                  <div class="col-md-12 ">
                                      <span class="_btn-warning" style="font-size:36px"><i class="fa fa-comments  bordered-warning" ></i> {{creative.comments.length}}</span>
                                      </div>

                                  </div>
                              </div>                     
                           </div>
                           <p class="blog-post-meta">
                              {{translation.CREATED}} {{creative.created}} 
                              <a data-ng-href="#/user/{{creative.userName}}"> {{creative.userName}}</a>
                          </p>              
                            <div class="widget--tags text-center">
                                <a href="" data-ng-repeat="tag in creative.tags" class="tag" data-count="{{tag.count}}" data-ng-click='search(tag.name)'>
                                   {{tag.name}}
                                </a>
                            </div>        
                        </div>
                     
                    </div>
                    <div class="col-md-12 text-center">
                    <div class="col-md-3">&nbsp;</div>
                    <div class="col-md-8" style='word-wrap: break-word;'>
                      <h2 align="center">{{creative.description}}</h2>
                      <hr>
                       <h3 data-ng-repeat="chapter in creative.chapters">{{$index + 1}}. {{chapter.name}}</h3>
                      <hr>
                      <a data-ng-href="#/show/{{creative.id}}" class="_btn _btn-rounded _btn-round-tosquare _btn-lg  _btn-bordered-warning"><i class="fa fa-book"></i> {{translation.READ_MORE}}</a>
                   </div>
                   </div>
               </div>                 
             </div>            
          </div><br><br>
       </div>   
  </div>  
 

   <div class="col-md-3 ">      
      <div class="panel panel-default">
          <div style="margin-top: 20px" class="text-center _btn _btn-rounded _btn-round-tosquare _btn-lg  _btn-bordered-warning">
              <i class="fa fa-comments"></i>&nbsp;{{translation.MOST_POPULAR}}&nbsp;       
          </div>
          <div class="panel-body">
              <div class="list-group" style="word-wrap: break-word;">
                  <span data-ng-repeat="popular in mostPopularCreatives">
                      <a class="list-group-item" data-ng-href="#/show/{{popular.id}}">
                        {{$index+1}}. {{popular.name.slice(0,20)}}
                        <i style="font-size: 18px" class="fa fa-comment-o pull-right">&nbsp;{{popular.comments.length}}&nbsp;</i>
                      </a>
                  </span>              
              </div>
          </div>
      </div>

    <div class="panel panel-default">
        <div  class="text-center _btn _btn-rounded _btn-round-tosquare _btn-lg  _btn-bordered-warning">
            <i class="fa fa-star"></i>&nbsp;{{translation.MOST_RATED}}&nbsp;          
        </div>
        <div class="panel-body">
            <div class="list-group">
               <span data-ng-repeat="rated in mostRatedCreatives">
              <a class="list-group-item" data-ng-href="#/show/{{rated.id}}">
                {{$index+1}}. {{rated.name.slice(0,20)}}
                <i style="font-size: 18px" class="fa fa-star pull-right">&nbsp;{{rated.avgRating.toFixed(2)}}&nbsp;</i>
              </a>

              </span>            
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="list-group">
            <div class="text-center _btn _btn-rounded _btn-round-tosquare _btn-lg  _btn-bordered-warning">
             <i class="fa fa-list-ul"></i>    {{translation.CATEGORIES}}        
            </div>
            <div class="list-group">
              <li class="list-group-item text-center" data-ng-repeat="category in categories"><a data-ng-href="#/search/{{category.id}}">{{category.name}}</a></li>      
            </div>
        </div>
    </div>


  </div>  
  </div> 
  
  
  <div class="col-md-12" style="opacity: 0">DOWNTOWN</div>
  <br>
  <br>
  <br>
  </div>