<div class="container">
 <div class="page-header text-center">
 <br>
            <h1>Edit your profile.</h1>
        </div>
        <p></p>  
	<div class="row" id="main">
	    <div class="col-md-4 " >
			<div class="row">
	            <div class="col-md-12 text-center">
	                <div>
	        			<img data-ng-if="userInfo.avatarUri" style="width: 200px; height:200px;" align="center" data-ng-src="{{userInfo.avatarUri}}" alt="Texto Alternativo" class="img-thumbnail">
	        			<img data-ng-if="userInfo.avatarUri == undefined" style="width: 200px; height:200px;" align="center" src="http://res.cloudinary.com/ddttiy9ko/image/upload/v1458831441/avatar_sdaz7g.jpg" alt="Texto Alternativo" class="img-thumbnail">
	        			<h2>{{userInfo.firstName}} {{userInfo.lastName}}</h2>
	        			<p>Description</p>	                  
	                    <button type="button" class="btn-green-flat-trigger" >
	                        Upload
	                    </button>
	                    <br>
	                    <br>
	                    <a ng-if="isAdmin" href="#/admin" type="button" class="btn btn-warning">
	                        Admin Panel
	                    </a>                  
	        		</div>
	        	</div>
	        </div>
	    </div>
	    <div class="col-md-8" style="border-left: 2px; border-color: rgb(100,100,100);" id="rightPanel">
	        <div class="row">
	    		<div class="col-md-12">
			    	<form role="form">											
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6">
								<div class="form-group">
			                        <input type="text" maxlength="15" data-ng-model="userInfo.firstName" name="first_name" id="first_name"  class="form-control input-lg" placeholder="First Name" tabindex="1">
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text"  maxlength="15"  data-ng-model="userInfo.lastName" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="email" maxlength="25"  data-ng-model="userInfo.email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4">
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="tel" maxlength="15" data-ng-model="userInfo.phoneNumber" name="phoneNumber" id="phoneNumber" class="form-control input-lg" placeholder="PhoneNumber" tabindex="2">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-md-3"></div>
							<div class="col-xs-12 col-md-6"><a data-ng-click="saveUserInfo()" style="width: 30%" class="btn-green-flat">Save</a></div>
						</div>
						<hr class="colorgraph">
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group">
									<input type="password" data-ng-model="newUserInfo.oldPassword" name="oldPassword" id="password" class="form-control input-lg" placeholder="Old Password" tabindex="5">
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group">
									<input type="password" data-ng-model="newUserInfo.newPassword" name="newPassword" id="new_password" class="form-control input-lg" placeholder="New Password" tabindex="6">
								</div>
							</div>
								<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group">
									<input type="password" data-ng-model="newUserInfo.passConfirm" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">
								</div>
							</div>
						</div>
						<div class="row">
							
								<a data-ng-click="changePassword()" style="width: 30%" class="btn-green-flat">Change password</a>
							
						</div>	
					</form>
				</div>
			</div>
		</div>
		</div>

		<div class="container">
		<div class="page-header text-center">
            <h1>Rewards</h1>
        </div>
		<div class="row">
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
				<ul class="event-list">
					<li data-ng-repeat="medal in userInfo.medals">				
						<time datetime="2014-07-20">
							<span class="day">{{$index + 1}}</span>
							<span class="month">Medal</span>						
						</time>
						<img alt="Independence Day" data-ng-src="{{medal.imageUri}}" />
						<div class="info">
							<h2 class="title">{{medal.name}}</h2>
							<p class="desc">{{medal.description}}</p>
						</div>
						<div class="social">
							<ul>
								<li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
								<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
								<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
							</ul>
						</div>
					</li>
    	
				</ul>
			</div>
		</div>

  <div class="global-modal">
    <div class="overlay"></div>
        <div class="global-modal-profile_contents modal-transition">
        	<div class="global-modal-header">
                <span class="mobile-close"> X </span>
                <h3><b><i class="fa fa-2x fa-upload"></i>
                <div style="width: 40%; position: relative;" class="btn-green-flat" accept="image/*" ngf-pattern="'image/*'" ngf-select ng-model="$parent.file" ngf-multiple="false">
						Upload File 
				</div></b></h3>
            </div>
            <div class="global-modal-body">
            <div id="upload"  class="row">		 
		    	<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading text-center"><strong>Upload files</strong> <small> </small></div>
							<div class="panel-body">						   	
						  		<div ngf-drop ngf-select ng-model="$parent.file" class="drop-box upload-drop-zone" ngf-drag-over-class="'dragover'" ngf-multiple="false" 	 ngf-allow-dir="true" accept="image/*" ngf-pattern="'image/*'">
						  		 	Or drag and drop files here 
						  		</div>				
								<div class="js-upload-finished text-center" data-ng-if="file.name" >
									<h3>File: {{file.name}} {{file.$error}} {{file.$errorParam}}	</h3>					  
		    						<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width' : progressPercentage*10}">
											<span class="sr-only">60% Complete</span>
								 		</div>							 	
									</div>
									<div data-ng-if="showLoading" class="loading" >
										<h3>Wait a second...</h3><br>
										<i  class="fa fa-spinner fa-pulse fa-spin" style="font-size: 48px"></i>
	    							</div>
	    								<br>
	    								<a data-ng-click="updateAvatar()" class="btn-green-flat">Upload</a>
								</div>						
							</div>
						</div>
					</div>	
				</div>          
            </div>
        </div>
    </div>      
</div>
</div>





