<div  class="container">
 <div class="page-header text-center">
 <br>
            <h1>{{translation.EDIT_PROFILE}}, {{userInfo.userName}}</h1>
        </div>
        <p></p>  
	<div class="row" id="main">
	  <div data-ng-if="showLoading" class="loading text-center"><br><br>
					<i  class="fa fa-spinner fa-pulse fa-spin" style="font-size: 48px"></i>
	    		</div>
	 <div class="col-md-12" data-ng-if="message != ''">
				            <div class="col-md-3">&nbsp;</div>
				            <div class="col-md-6">
				            	<div data-ng-class="(savedSuccessfully) ? 'text-center _btn _btn-rounded _btn-round-tosquare _btn-lg  _btn-bordered-success' : 'text-center _btn _btn-rounded _btn-round-tosquare _btn-lg  _btn-bordered-danger'" role="alert">
									<i class="fa fa-exclamation"></i>
									<span class="sr-only">Result:</span>
									{{message}}
								</div><br>
				            </div><br>
				        </div><br><br>
	    <div class="col-md-4 " >
			<div class="row">
	            <div class="col-md-12 text-center">
	                <div>
	        			<img data-ng-if="userInfo.avatarUri" style="width: 200px; height:200px;" align="center" data-ng-src="{{userInfo.avatarUri}}" alt="Texto Alternativo" class="img-thumbnail">
	        			<img data-ng-if="userInfo.avatarUri == undefined" style="width: 200px; height:200px;" align="center" src="http://res.cloudinary.com/ddttiy9ko/image/upload/v1458831441/avatar_sdaz7g.jpg" alt="Texto Alternativo" class="img-thumbnail">
	        			<h2>{{userInfo.firstName}} {{userInfo.lastName}}</h2>
	        			<p>{{userInfo.userName}}</p>	                  
	                    <button type="button" class="btn-green-flat-trigger" >
	                        {{translation.UPLOAD}}
	                    </button>
	                    <br>
	                    <br>
	                    <a ng-if="isAdmin" href="#/admin" type="button" class="btn btn-warning">
	                        Admin Panel
	                    </a>                  
	        		</div>
	        	</div>
	        </div>
	    </div>
	    <div class="col-md-8" style="border-left: 2px; border-color: rgb(100,100,100);" id="rightPanel">
	        <div class="row">
	    		<div class="col-md-12">
			    	<form role="form">											
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6">
								<div class="form-group">
			                        <input type="text" maxlength="15" data-ng-model="userInfo.firstName" name="first_name" id="first_name"  class="form-control input-lg" placeholder="First Name" tabindex="1">
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text"  maxlength="15"  data-ng-model="userInfo.lastName" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="email" maxlength="25"  data-ng-model="userInfo.email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4">
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="tel" maxlength="15" data-ng-model="userInfo.phoneNumber" name="phoneNumber" id="phoneNumber" class="form-control input-lg" placeholder="PhoneNumber" tabindex="2">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-md-3"></div>
							<div class="col-xs-12 col-md-6">
							<a data-ng-click="saveUserInfo()" class="btn-green-flat">{{translation.SAVE}}</a></div>
						</div>
						<hr class="colorgraph">
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group">
									<input type="password" data-ng-model="newUserInfo.oldPassword" name="{{translation.OLD_PASS}}" id="password" class="form-control input-lg" placeholder="{{translation.OLD_PASS}}" tabindex="5">
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group">
									<input type="password" data-ng-model="newUserInfo.newPassword" name="" id="new_password" class="form-control input-lg" placeholder="{{translation.NEW_PASS}}" tabindex="6">
								</div>
							</div>
								<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="form-group">
									<input type="password" data-ng-model="newUserInfo.passConfirm" name="" id="password_confirmation" class="form-control input-lg" placeholder="{{translation.PASS_CONFIRM}}" tabindex="6">
								</div>
							</div>
						</div>
						<div class="row">
							
								<a data-ng-click="changePassword()" class="btn-green-flat">	{{translation.CHANGE_PASSWORD}} </a>
							
						</div>	
					</form>
				</div>
			</div>
		</div>
		</div>

		<div data-ng-if="userInfo.medals.length > 0" class="container">
		<div class="page-header text-center">
            <h1>{{translation.ACHIEV}}</h1>
        </div>
	    <div class="row">
            <div class="[ col-xs-12 col-sm-offset-3 col-sm-6 ]">
                <ul class="event-list ">
                    <li data-ng-repeat="medal in userInfo.medals">              
                        <time datetime="2014-07-20">
                            <span class="day">{{$index + 1}}</span>
                            <span class="month">Medal</span>                        
                        </time>
                        <img alt="Independence Day" data-ng-src="{{medal.imageUri}}" />
                        <div class="info ">
                            <h2 align="center" class="title">{{medal.name}}</h2>
                            <p align="center" class="desc">{{medal.description}}</p>
                        </div>
                       
              
                    </li>
        
                </ul>
            </div>
        </div></div>

  <div class="global-modal">
    <div class="overlay"></div>
        <div class="global-modal-profile_contents modal-transition">
        	<div class="global-modal-header">
                <span class="mobile-close"> X </span>
                <h3><b><i class="fa fa-2x fa-upload"></i>
                <div style="width: 40%; position: relative;" class="btn-green-flat" accept="image/*" ngf-pattern="'image/*'" ngf-select ng-model="$parent.file" ngf-multiple="false">
						{{translation.UPLOAD}} 
				</div></b></h3>
            </div>
            <div class="global-modal-body">
            <div id="upload"  class="row">		 
		    	<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading text-center"><strong>{{translation.UPLOAD}} </strong> <small> </small></div>
							<div class="panel-body">	

						  		<div data-ng-if="!file.name" ngf-drop ngf-select ng-model="$parent.file" class="drop-box upload-drop-zone" ngf-drag-over-class="'dragover'" ngf-multiple="false" 	 ngf-allow-dir="true" accept="image/*" ngf-pattern="'image/*'">
						  		 	Or drag and drop files here 
						  		</div>	
						  		<img class="img img-responsive" ngf-src="file" class="thumb">				
								<div class="js-upload-finished text-center" data-ng-if="file.name" >
									<h3>File: {{file.name}} {{file.$error}} {{file.$errorParam}}	</h3>					  
		    						<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width' : progressPercentage*10}">
											<span class="sr-only">60% Complete</span>
								 		</div>							 	
									</div>
									<div data-ng-if="showLoading" class="loading" >
										<h3>Wait a second...</h3><br>
										<i  class="fa fa-spinner fa-pulse fa-spin" style="font-size: 48px"></i>
	    							</div>
	    								<br>
	    								<a data-ng-click="updateAvatar()" class="btn-green-flat">	{{translation.UPLOAD}} </a>
								</div>						
							</div>
						</div>
					</div>	
				</div>          
            </div>
        </div>
    </div>      
</div>
</div>





