<div class="jumbotron">
    <div class="container">
        <div class="page-header text-center">
            <h1 class="form-login-heading">{{creative.name}}</h1>
			<p class="form-login-heading">{{translation.AUTHOR}} : {{creative.userName}}</p>
            <!-- RATING BEGIN -->
            <div class="container">
                <div class="col-md-1">&nbsp;</div> 
                <div class="col-xs-12 col-md-10">
                    <div class="well well-sm">
                        <div class="row">
                            <div  class="col-xs-12 col-md-6 text-center">
                                <h1 class="rating-num">{{ratingsAvg}}</h1>
                                <div class="rating">
                                    <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                    </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                    </span><span class="glyphicon glyphicon-star-empty"></span>
                                </div>
                               
                                <div>
                                    <span class="glyphicon glyphicon-user"></span>{{ratings.length}} {{translation.TOTAL}}
                                </div>
                               <div data-ng-hide="!authentication.isAuth">
                                <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" data-ng-click="setRating(1)">
                                    <!-- <span class="glyphicon glyphicon-star" aria-hidden="true"> 1 </span> -->
                                    <i class="fa fa-2x fa-star"> 1 </i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" data-ng-click="setRating(2)">
                                   <i class="fa fa-2x fa-star"> 2 </i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" data-ng-click="setRating(3)">
                                    <i class="fa fa-2x fa-star"> 3 </i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" data-ng-click="setRating(4)">
                                   <i class="fa fa-2x fa-star"> 4 </i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" data-ng-click="setRating(5)">
                                   <i class="fa fa-2x fa-star"> 5 </i>
                                </button>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="row rating-desc">
                                    <div class="col-xs-3 col-md-3 text-right">
                                        <span class="glyphicon glyphicon-star"></span>5
                                    </div>
                                    <div class="col-xs-8 col-md-9">
                                        <div class="progress progress-striped">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5"
                                                aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width' : percentage5}">
                                                <span class="sr-only"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-md-3 text-right">
                                        <span class="glyphicon glyphicon-star"></span>4
                                    </div>
                                    <div class="col-xs-8 col-md-9">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                                                aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width' : percentage4}">
                                                <span class="sr-only"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end 4 -->
                                    <div class="col-xs-3 col-md-3 text-right">
                                        <span class="glyphicon glyphicon-star"></span>3
                                    </div>
                                    <div class="col-xs-8 col-md-9">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
                                                aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width' : percentage3}">
                                                <span class="sr-only"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end 3 -->
                                    <div class="col-xs-3 col-md-3 text-right">
                                        <span class="glyphicon glyphicon-star"></span>2
                                    </div>
                                    <div class="col-xs-8 col-md-9">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20"
                                                aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width' : percentage2}">
                                                <span class="sr-only"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end 2 -->
                                    <div class="col-xs-3 col-md-3 text-right">
                                        <span class="glyphicon glyphicon-star"></span>1
                                    </div>
                                    <div class="col-xs-8 col-md-9">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"
                                                aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width' : percentage1}">
                                                <span class="sr-only"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end 1 -->
                                </div>
                                <!-- end row -->
                            </div>
                        </div>
                    </div>
                </div></div>
            <!-- RATING END -->
        </div>
        
        <div class="container">
      
        <div class="widget--tags">
            <a data-ng-repeat="tag in tags" class="tag" data-count="{{tag.count}}" data-ng-click='search(tag.name)'>{{tag.name}}</a>
        </div>
        <div class="text-center">
            <button  data-ng-if="chapters.length > 0" class="btn btn-default" data-toggle="modal" data-target=".bs-example">
                {{translation.READ_MODE}} 
            </button><br>
           
        <div class="btn-group" data-toggle="buttons">   
          <label ng-click="highlight(0)" class="btn btn-success ">
                <input type="radio" name="options" id="option2" autocomplete="off">
              80%  <span class="glyphicon glyphicon-ok"></span>
            </label>

          <label ng-click="highlight(1)" class="btn btn-primary">
                <input type="radio" name="options" id="option3" autocomplete="off">
               90% <span class="glyphicon glyphicon-ok"></span>
            </label>      

            <label ng-click="highlight(2)" class="btn btn-info active">
                <input type="radio" name="options" id="option4" autocomplete="off" >
                100%<span class="glyphicon glyphicon-ok"></span>
            </label>  
        </div>
        
 
       
            </div> 

            <div color-inspiration ng-model="targetClass" class="modal fade bs-example" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">          
                  
                <div id="myCarousel" class="carousel slide" data-interval="6500" data-ride="carousel">      
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>        
               <div style="background-color: #fff" class="carousel-inner">   
                <div class="item fill" data-ng-class="{active:!$index}" data-ng-repeat="chapter in chapters">
                <div class="carousel-caption" style="position: relative;">  <button class="btn btn-primary-outline pull-right" style="margin-right: 20%; position: static;" data-dismiss="modal" data-target="#myCarousel">X</button>
                <p align="center">{{translation.CHAPTER}}  #{{chapter.number}}&nbsp;{{chapter.name}}</p>
                 </div>
                
                 <div  color-inspiration ng-model="targetClass" ng-bind-html="chapter.body">                       
                 </div>   
                                

       
    <span class="left carousel-control" data-target="#myCarousel" data-slide="prev" data-ng-click="storeChapterId(chapter.id)">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </span>
    <span class="right carousel-control" data-target="#myCarousel" data-slide="next" data-ng-click="storeChapterId(chapter.id)">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </span>       
    </div>  
</div>
</div>  
</div>    
       
   
   
        <div ng-repeat="item in chapters">
			<h1  align="center" class="form-login-heading">{{translation.CHAPTER}} #{{item.number}}: {{item.name}}</h1>	
			<hr>
            <div ng-bind-html="item.body">                       
            </div>    
			
            <br><hr>

		</div>	
        <h2 class="text-center form-login-heading">{{translation.COMMENTS}}: {{comments.length}}</h2><hr><br>       
        <span  data-ng-repeat="comment in comments" >   
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-responsive" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>#{{$index+1}} {{comment.userName}}</strong> 
                            <span class="text-muted">
                            {{translation.COMMENTED}} {{comment.postDate.split('T')[0]}}  {{comment.postDate.split('T')[1].slice(0,-4) }}
                            </span> 

                    </div>
                    <div class="panel-body status-upload">
                        {{comment.text}}                 
                        <div data-ng-if="authentication.isAuth" class="status-upload"> 
                             <ul class="pull-right">
                             <button class="btn btn-primary-outline" style="position:absolute;top:0;right:0;margin-right: 2%" data-ng-if="comment.userName == authentication.userName " data-ng-click="deleteComment(comment.id)"> <i class="fa fa-times fa-2x"></i> </button>
                                <li>
                                   <a data-ng-click="setLike(comment.id)" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio">
                                        <i class="fa fa-2x fa-thumbs-o-up ">{{comment.likes.length}}</i>
                                    </a>

                                </li>
                                                                                               
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </span>
        <div  class="text-center">
            <button type="button" class="btn btn-info" data-ng-click="showNewComment()"> {{translation.NEW_COMMENT}} </button>
         </div>


         <div class="row" data-ng-if="newComment != undefined">
         <div class="col-md-3">&nbsp;</div>
             <div class="col-md-6">
             <div class="widget-area no-padding blank">
                 <div class="status-upload">
                    <form>
                        <textarea data-ng-model="newComment.text" ></textarea>
                                     
                                        <button style="margin-top: 10px" type="button" data-ng-click="createComment()" class="btn btn-info"><i class="fa fa-share"></i>{{translation.PUBLISH}}</button>
                                    </form>
                                </div>
                            </div>
                        </div>        
    </div>
</div>


 </div>


