<form class="form-login" role="form">
    <h2 class="form-login-heading text-center">{{translation.SIGNUP}}</h2>
    <hr>
    <input type="text" class="form-control" placeholder="{{translation.USERNAME}}" data-ng-model="registration.userName" required autofocus>
    <input type="password" class="form-control" placeholder="{{translation.PASSWORD}}" data-ng-model="registration.password" required>
    <input type="password" class="form-control" placeholder="{{translation.PASS_CONFIRM}}" data-ng-model="registration.confirmPassword" required>
    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp()">{{translation.SUBMIT}}</button>
    <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
    </div>
</form>


    <div class="highlights palette">
      <p>
        <span ng-repeat="c in colorInspirationClasses" class="{{c}}" ng-click="highlight($index)"></span>
      </p>     
    </div>
    
    <div class="target" color-inspiration ng-model="targetClass">
      {{targetClass}}
    </div>
  </div>
</div>
