<div class="container">
    <div class="page-header text-center">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6 text-center" >
                <p align="center">
                <img data-ng-if="userInfo.avatarUri == undefined" style="width: 200px; height:200px;" align="center" src="http://res.cloudinary.com/ddttiy9ko/image/upload/v1458831441/avatar_sdaz7g.jpg" alt="Texto Alternativo" class="img-thumbnail">
                    <img  data-ng-if="userInfo.avatarUri != undefined" class="media-object dp img-circle" data-ng-src="{{userInfo.avatarUri}}" style="width: 150px; height:150px;">
                </p>
                <h3>{{userInfo.firstName}} {{userInfo.lastName}}</h3>
                <hr style="margin:8px auto">
                <h5>{{userInfo.email}}</h5>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="[ col-xs-12 col-sm-offset-3 col-sm-6 ]">
                <ul class="event-list ">
                    <li data-ng-repeat="medal in userInfo.medals">              
                        <time datetime="2014-07-20">
                            <span class="day">{{$index + 1}}</span>
                            <span class="month">Medal</span>                        
                        </time>
                        <img alt="Independence Day" data-ng-src="{{medal.imageUri}}" />
                        <div class="info ">
                            <h2 align="center" class="title">{{medal.name}}</h2>
                            <p align="center" class="desc">{{medal.description}}</p>
                        </div>
                       
              
                    </li>
        
                </ul>
            </div>
        </div>

    <div data-ng-hide="creatives.length < 1">
    <div class="col-md-12">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
               <form>
            <div class="form-group">    
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="{{translation.SEARCH}}" ng-model="searchCreatives">
                </div>      
            </div>
        </form> 
        </div>
    </div>  
     <div class="col-md-12">
        <div class="pull-right">      
            <div class="btn-group">
                <button class="btn btn-success btn-filter" data-ng-click="sortType = 'created'; sortReverse = !sortReverse">
                {{translation.DATE}}
                <span ng-show="sortType == 'created' && sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'created' && !sortReverse" class="fa fa-caret-up"></span></button>
                <button  type="button" class="btn btn-success btn-filter" data-ng-click="sortType = 'avgRating';sortReverse = !sortReverse"> {{translation.RATING}}
                 <span ng-show="sortType == 'avgRating' && sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'avgRating' && !sortReverse" class="fa fa-caret-up"></span>
                </button>
                 <button  type="button" class="btn btn-success btn-filter" data-ng-click="sortType = 'popular';sortReverse = !sortReverse"> {{translation.POPULAR}}
                 <span ng-show="sortType == 'popular' && sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'popular' && !sortReverse" class="fa fa-caret-up"></span>
                </button>
            </div>
       </div>  
      </div>  
       </div>
      

  
      <hr style="opacity: 0">

    <div class="col-md-12 margin-bottom-30" data-ng-repeat="creative in creatives | filter:searchCreatives | orderBy:sortType:sortReverse ">
        <div class="portlet portlet-bordered">
            <div class="portlet-title">
                <div class="caption caption-red">
                    <i class="glyphicon glyphicon-cog"></i>
                    <span class="caption-subject text-uppercase">{{creative.name}}</span>
                    <span class="caption-helper">{{creative.created}}</span>
                </div>
                <div class="actions">  
                    <a ng-href="#/show/{{creative.id}}" class="btn"><i class="glyphicon glyphicon-align-justify"></i>{{translation.SHOW}}</a>         
                </div>
            </div>
            <div class="portlet-body">
                <h4>{{creative.description}}</h4>
                <p data-ng-repeat="chapter in creative.chapters">{{$index + 1}}. {{chapter.name}}</p>
            </div>
        </div>

    </div>
    </div>