<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a data-ng-href="#/admin/">Users</a></li>          
            <li ><a data-ng-href="#/admin/creatives">Creatives</a></li>
            <li><a data-ng-href="#/admin/chapters">Chapters</a></li>
            <li ><a data-ng-href="#/admin/tags">Tags</a></li>          
            <li class="active"><a data-ng-href="#/admin/ratings">Ratings</a></li>
            <li><a data-ng-href="#/admin/comments">Comments</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
         <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h2 class="sub-header">Tags manager</h2> 		
          		<div class="col-md-3"></div>
					<div class="col-md-6">
					<form>
				    <div class="form-group">	
				      <div class="input-group">
				        <div class="input-group-addon"><i class="fa fa-search"></i></div>
				        <input type="text" class="form-control" placeholder="Search users" ng-model="searchUsers">
				      </div>      
				    </div>
				</form>
				</div>
				<div class="col-md-12">
          		<div class="table-responsive">
            		<table class="table table-striped table-hover">
              		<thead> 
				        <th>#</th>
				         <th>
				        	<a ng-click="sortType = 'creativeId'; sortReverse = !sortReverse">
					            CreativeId
					            <span ng-show="sortType == 'creativeId' && !sortReverse" class="fa fa-caret-down"></span>
					            <span ng-show="sortType == 'creativeId' && sortReverse" class="fa fa-caret-up"></span>
				            </a>
				        </th>
				        <th>
				        	<a ng-click="sortType = 'userName'; sortReverse = !sortReverse">
					            UserName
					            <span ng-show="sortType == 'userName' && !sortReverse" class="fa fa-caret-down"></span>
					            <span ng-show="sortType == 'userName' && sortReverse" class="fa fa-caret-up"></span>
				            </a>
				        </th>
				        <th>
				        	<a ng-click="sortType = 'value'; sortReverse = !sortReverse">
					           Value
					            <span ng-show="sortType == 'value' && !sortReverse" class="fa fa-caret-down"></span>
					            <span ng-show="sortType == 'value' && sortReverse" class="fa fa-caret-up"></span>
				            </a>
				        </th>
				        <th>
				        	<a ng-click="sortType = 'id'; sortReverse = !sortReverse">
					           Id
					            <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
					            <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
				            </a>
				            </th>	
				        
					</thead>
  					<tbody>	
	    				<tr  data-ng-repeat="rating in ratings | orderBy:sortType:sortReverse  | filter:searchUsers" data-ng-click="editRating(rating.id)">
					        <td >{{$index+1}}</td>
					        <td>{{rating.creativeId}}</td>
					        <td>{{rating.userName}}</td>
					        <td>{{rating.value}}</td>
					        <td>{{rating.id}}</td>
					      					    
	    				</tr>
                    </tbody>
                </table> 
                </div>    

            </div>  
            </div></div></div>

<div class="global-modal">
    <div class="overlay"></div>
    <div class="global-modal-tags_contents modal-transition">
        <div class="global-modal-header">          
            	<i class="fa fa-2x fa-times" data-ng-click="close()"></i>
            <h3><b> <i class="fa fa-2x fa-edit"></i> Edit Rating </b></h3>
        </div>
        <div class="global-modal-body">
            <div class="col-md-12">                	
             <div class="col-md-3">&nbsp;</div>
             <div class="col-md-6">
                		<h3 class="form-login-heading text-center">Value</h3>
	                    <input maxlength="20" type="text" class="form-control" data-ng-model="selectedRating.value" placeholder="Rating value" required autofocus>
            </div>

            <div class="col-md-12 text-center">
	            <div data-ng-if="showLoading" class="loading"><br><br>
					<i  class="fa fa-spinner fa-pulse fa-spin" style="font-size: 48px"></i>
	    		</div>
	            <a class="btn-green-flat-trigger" data-ng-click="saveRating()">Save value</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	            <a class="btn-green-flat-trigger" data-ng-click="deleteRating(selectedTag.id)">Delete rating</a><br><br><br>          		
	        </div></div>	        

	        <div class="col-md-12" data-ng-if="message != ''">
	            <div class="col-md-3">&nbsp;</div>
	            <div class="col-md-6">
	            	<div data-ng-class="(savedSuccessfully) ? 'alert alert-success text-center' : 'alert alert-danger text-center'" role="alert">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span class="sr-only">Result:</span>
						{{message}}
					</div>

	            </div>
	        </div><br>
        </div>          
    </div>
</div>

