<div class="container">
    <div class="page-header">
        <h1>Panels with nav tabs.<span class="pull-right label label-default">:)</span></h1>
    </div>
    <div class="row">
    	<div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
            <div class="panel with-nav-tabs panel-primary">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-target="#tab1primary" data-toggle="tab">Name</a></li>
                            <li><a data-target="#tab2primary" data-toggle="tab">Description</a></li>
                            <li><a data-target="#tab3primary" data-toggle="tab">Chapters position</a></li> 
                            <li><a data-target="#tab4primary" data-toggle="tab">Add Chapter</a></li> 
                            <li><a data-target="#tab5primary" data-toggle="tab">Add Tags</a></li>                              
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade " id="tab2primary">
                        	<div class="widget-area no-padding blank">     
                				<div class="status-upload">
                					<form>
	                					<h3 align="center">Description</h3> 
	                    				<textarea class="form-control" rows="10" data-ng-model="creative.description" placeholder="What do you think right now?" ></textarea>
	                    				<button type="button" data-ng-click="changeCreativeDescription()" class="btn btn-primary pull-right" >
		                    			<i class="fa fa-share"></i>
		                    			Save
										</button>					 
                					</form>
            					</div>
        					</div> 
                        </div>
                        <div class="tab-pane fade in active" id="tab1primary">
	                        <div class="widget-area no-padding blank">     
	                				<div class="status-upload">
	                					<form>
		                					<h3 align="center">Name</h3> 
		                    				<textarea class="form-control" data-ng-model="creative.name" placeholder="What do you think right now?" rows="2" ></textarea>
		                    				<button type="button" data-ng-click="changeCreativeName()" class="btn btn-primary pull-right" >
			                    			<i class="fa fa-share"></i>
			                    			Save
											</button>					 
	                					</form>
	            					</div>
	        					</div> 	
	                        </div>
	                        <div class="tab-pane fade" id="tab3primary">
	                        	<div class="col-md-6">						
									<div data-ng-if="chapters.length > 0 "class="container-element box box-blue">
										<div class="container-element box box-blue">
											<ul dnd-list="chapters"
									            dnd-allowed-types="['itemType']"
									            dnd-horizontal-list="true"
									            dnd-external-sources="false"              
									            dnd-drop="dropCallback(event, index, item, external, type, 'itemType')"              
									            class="itemlist">
									            <li ng-repeat="item in chapters"
									                dnd-draggable="item"     
									                data-ng-click="alert('123')"
									                dnd-type="'itemType'"
									                dnd-effect-allowed="move"
									                dnd-moved="chapters.splice($index, 1)";>
									                {{item.name}}
									                 <button>{{item.number}}</button>
									                <button data-ng-click="editChapter(item)" data-target="#tab4primary" data-toggle="tab">Edit</button>
									                <button data-ng-click="deleteChapter(item)">Delete</button>
									            </li>
								       		</ul>       		
		        							<div class="clearfix"></div>       	 
		     							</div>
		     	  						
									</div>
										<button class="btn btn-primary" data-ng-click="savePositions()">Save chapters positions</button>  	
								</div> 
	                        </div>
                       
                        <div class="tab-pane fade" id="tab4primary">
                        	<div class="col-md-2">&nbsp;</div>
							<div class="col-md-8">
								<h2 class="form-login-heading"><p align="center">#</p></h2>
								<input type="text" value="{{selectedchapter.name}}" class="form-control" data-ng-model="selectedchapter.number" placeholder="#" required autofocus> 
								<h2 class="form-login-heading"><p align="center">Name</p></h2>
								<input type="text" value="{{selectedchapter.name}}" class="form-control" data-ng-model="selectedchapter.name" placeholder="Chapter Name" required autofocus>			
								<h2 class="form-login-heading"><p align="center">Text</p></h2>
								<textarea class="form-control" name="Text1" data-ng-model="selectedchapter.body" cols="80" rows="5"></textarea>  
								</textarea> 
								<div class="col-md-4">
							            &nbsp;
								</div>
								<div class="col-md-4">
									<br>
							  		<button class="btn btn-md btn-info btn-block" type="button" data-ng-click="saveChapter()">Save</button>   
							  		<br>  <br> 		  		
							  	</div> 
							</div>
						</div>

						<div class="tab-pane fade" id="tab5primary">
                        	<div class="col-md-2">&nbsp;</div>
							<div class="col-md-8">
								<tags-input ng-model="tags" display-property="name" placeholder="Add tags" debounce-delay="0" add-on-paste="true">
                    			<auto-complete max-results-to-show="5" source="loadTags($query)"></auto-complete>
                    			</tags-input>  
                    			<button data-ng-click="saveTags()" class="btn btn-primary">Save</button>
							</div> 
						</div>
						</div>		

                        </div>

                    </div>
                </div>
            </div>
        </div>
	</div>
