<div class="row">
	<div class="col-md-8 margin-bottom-30">
		<div class="portlet">
			<div class="portlet-title">
				<div class="caption">
					<i class="glyphicon glyphicon-calendar"></i>
					<span class="caption-subject text-uppercase"> Portlet</span>
					<span class="caption-helper">weekly stats...</span>
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn"><i class="glyphicon glyphicon-pencil"></i>Edit</a>
					<a href="javascript:;" class="btn"><i class="glyphicon glyphicon-paperclip"></i>Add</a>
					<a href="javascript:;" class="btn btn-circle"><i class="glyphicon glyphicon-resize-full"></i></a>
				</div>
			</div>
			<div class="portlet-body">
				<h4>Heading Text</h4>
				<p>Description Description Description Description </p>
			</div>
		</div>
	</div>
</div>

<div class="col-md-3">
	&nbsp;
</div>

	<button class="btn btn-primary" data-ng-click="newChapter()">Add new chapter</button>   
	<button class="btn btn-primary" data-ng-click="savePositions()">Save chapters positions</button>  
	<button class="btn btn-primary" data-ng-click="deleteCreative(creative.id)">Delete Creative</button> 

	
    
        <div class="widget-area no-padding blank">
            <div class="">
                <form>
                	<h2>Description</h2> 
                    <textarea class="form-control" data-ng-model="creative.description" placeholder="What do you think right now?" >
                    	
                    </textarea>
                    <button type="button" data-ng-click="changeCreativeName()" class="btn btn-primary pull-right" >
	                    <i class="fa fa-share"></i>
	                    Save
					</button>					 
                </form>
            </div>
        </div> 
     </div>
   

	<div class="col-md-6">
	<br>	<br><br>
	<div data-ng-if="chapters.length > 0 "class="container-element box box-blue">
		<div class="container-element box box-blue">
			<ul dnd-list="chapters"
	            dnd-allowed-types="['itemType']"
	            dnd-horizontal-list="true"
	            dnd-external-sources="false"              
	            dnd-drop="dropCallback(event, index, item, external, type, 'itemType')"              
	            class="itemlist">
	            <li ng-repeat="item in chapters"
	                dnd-draggable="item"     
	                data-ng-click="alert('123')"
	                dnd-type="'itemType'"
	                dnd-effect-allowed="move"
	                dnd-moved="chapters.splice($index, 1)";>
	                {{item.name}}
	                 <button>{{item.number}}</button>
	                <button data-ng-click="editChapter(item)">Edit</button>
	                <button data-ng-click="deleteChapter(item)">Delete</button>
	            </li>
       		</ul>       		
        	<div class="clearfix"></div>       	 
     	</div>
     	  <br> <br><br><br><br> <br> <br> <br><br>
	</div>	
	</div> 
	</div>
	<div class="row" data-ng-if="selectedchapter != undefined">
		<div class="col-md-2">
			&nbsp;
		</div>
		<div class="col-md-8">
			<h2 class="form-login-heading"><p align="center">#</p></h2>
			<input type="text" value="{{selectedchapter.name}}" class="form-control" data-ng-model="selectedchapter.number" placeholder="#" required autofocus> 
			<h2 class="form-login-heading"><p align="center">Name</p></h2>
			<input type="text" value="{{selectedchapter.name}}" class="form-control" data-ng-model="selectedchapter.name" placeholder="Chapter Name" required autofocus>			
			<h2 class="form-login-heading"><p align="center">Text</p></h2>
			<textarea class="form-control" name="Text1" data-ng-model="selectedchapter.body" cols="80" rows="5"></textarea>  
			</textarea> 
			<div class="col-md-4">
		            &nbsp;
			</div>
			<div class="col-md-4">
				<br>
		  		<button class="btn btn-md btn-info btn-block" type="button" data-ng-click="saveChapter()">Save</button>   
		  		<br>  <br> 
		  		
		  	</div> 
		</div>
	</div>
</div>
