<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div data-ng-hide="authentication.isAuth">
        <div class="col-md-4">
            <h2>Login</h2>
            <p class="text-primary">If you have Username and Password, you can use the button below to access the secured content using a token.</p>
            <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Sign Up</h2>
            {{theme}}
            <p class="text-primary">Use the button below to create Username and Password to access the secured content using a token.</p>
            <p><a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a></p>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div></div>

    <div data-ng-hide="!authentication.isAuth" class="col-md-8">
         <button class="btn btn-primary" data-ng-click="newCreative()"><i class="fa fa-plus-circle"></i></button>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr> 
                <th>
                    # 
                </th>                
                    <th>Name  </th>
                    <th>Description</th>  
                    <th>Actions</th>              
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="creative in creatives"> 
                    <td>{{$index+1}}</td>        
                    <td>
                        <a data-ng-href="#/show/{{creative.id}}" >{{ creative.name }}</a>                  
                    </td>
                    <td>
                        {{creative.description}}
                    </td>   
                    <td>               
                         
                        <a class="btn btn-primary" data-ng-href="#/edit/{{creative.id}}" >
                            <i class="fa fa-2x fa-pencil-square-o"></i>
                        </a>
                        <button class="btn btn-primary" data-ng-click="deleteCreative(creative.id)" >
                            <i class="fa fa-times fa-2x"></i>
                        </button>                                 
                    </td>
                </tr>
            </tbody>
        </table>   
    </div>

   
      <div class="col-md-3">
            &nbsp;
        </div>
    <div data-ng-repeat="creative in creatives" class="col-md-8 margin-bottom-30">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="glyphicon glyphicon-calendar"></i>
                    <span class="caption-subject text-uppercase"> Portlet</span>
                    <span class="caption-helper">weekly stats...</span>
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn"><i class="glyphicon glyphicon-pencil"></i>Edit</a>
                    <a href="javascript:;" class="btn"><i class="glyphicon glyphicon-paperclip"></i>Add</a>
                    <a href="javascript:;" class="btn btn-circle"><i class="glyphicon glyphicon-resize-full"></i></a>
                </div>
            </div>
            <div class="portlet-body">
                <h4>Heading Text</h4>
                <p>Description Description Description Description </p>
            </div>
        </div>

</div>
</div>
 