<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div data-ng-hide="authentication.isAuth">
        <div class="col-md-4">
            <h2>Login</h2>
            <p class="text-primary">If you have Username and Password, you can use the button below to access the secured content using a token.</p>
            <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Sign Up</h2>
            {{theme}}
            <p class="text-primary">Use the button below to create Username and Password to access the secured content using a token.</p>
            <p><a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a></p>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
    <div data-ng-hide="!authentication.isAuth" class="col-md-8">
        <button class="btn btn-primary" data-ng-click="newCreative()">Add new Creative</button>       
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Chapters</th>
                    <th>rating</th>
                    <th>Comments</th>                    
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="creative in creatives">
                    <td>
                        {{ creative.id }}
                        <br>
                        <a data-ng-href="#/edit/{{creative.id}}" >Edit</a>                      
                    </td>
                    <td>
                        {{ creative.name }}
                    </td>
                    <td>
                        {{ creative.category.name }}
                    </td>
                    <td>                      
                        <div data-ng-if="creative.chapters.length > 0 "class="container-element box box-blue">
                            <div class="container-element box box-blue">
                                <ul> 
                                    <li ng-repeat="item in creative.chapters">                  
                                        {{item.name}}
                                    </li>
                                </ul>
                                 <div class="clearfix"></div>
                            </div>
                        </div>                       
                    </td>                  
                    <td>
                        {{ creative.rating }}
                    </td>
                    <td>
                        {{ creative.comments.length }}
                    </td>
                </tr>
            </tbody>
        </table>   
    </div>
</div>
 