    <div class="col-md-8">   
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Name</th>
                    <th>Category</th>
                    <td>Description</td>
                    <th>Chapters</th>
                    <th>rating</th>
                    <th>Comments</th>                    
                </tr>
            </thead>
            <tbody>           
                <tr  data-ng-repeat="creative in creatives">
                    <td>
                        {{ creative.userName }}                                                            
                    </td>
                    <td>
                        {{ creative.name }}
                        <a data-ng-href="#/show/{{creative.id}}" >Show</a> 
                    </td>
                    <td>
                        {{ creative.category.name }}
                    </td>
                    <td>
                        {{creative.description}}
                    </td>
                    <td>                      
                        <div data-ng-if="creative.chapters.length > 0 "class="container-element box box-blue">
                            <div class="container-element box box-blue">
                                <ul> 
                                    <li ng-repeat="item in creative.chapters">                  
                                        {{item.name}}
                                    </li>
                                </ul>
                                 <div class="clearfix"></div>
                            </div>
                        </div>                       
                    </td>                  
                    <td>
                        {{ creative.rating }}
                    </td>
                    <td>
                        <a data-ng-href="#/comments/{{creative.id}}">{{ creative.comments.length }}</a>
                    </td>
                </tr>
            </tbody>
        </table>   
    </div>
