    <div class="container" data-ng-repeat="creative in creatives">
<div class="col-md-1">&nbsp;</div>
    <div  class="col-md-10 margin-bottom-30">

        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="glyphicon glyphicon-calendar"></i>
                    <span class="caption-subject text-uppercase">{{creative.name}}</span>
                    <span class="caption-helper">...</span>
                </div>
                <div class="actions">
                    <a ng-href="#/show/{{creative.id}}" class="btn"><i class="glyphicon glyphicon-pencil"></i>Show</a>
                    <a href="javascript:;" class="btn"><i class="glyphicon glyphicon-paperclip"></i>Comment</a>
                    <a href="javascript:;" class="btn btn-circle"><i class="glyphicon glyphicon-resize-full"></i></a>
                </div>
            </div>
            <div class="col-md-1">&nbsp;</div>
            <div class="portlet-body col-md-8">
                <h4 class="text-center">{{creative.description}}</h4>
                <p class="text-center" data-ng-repeat="chapter in creative.chapters">
                    {{$index + 1}}. {{chapter.name}}
                </p>
            </div>
        </div>
    </div>


    </div>