
<div class="row">

    <div class="col-md-2">
        &nbsp;
    </div>
   
    <div class="col-md-8">
        <form role="form">
        <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">

          
                <h2 class="form-login-heading"><p align="center">Creative Name</p></h2>
                <input type="text" class="form-control" data-ng-model="newCreative.name" placeholder="Creative Name" required autofocus> 
        
          
                <h2 class="form-login-heading"><p align="center">Category</p></h2>  
                <select class="form-control" data-ng-model="currentCategory" data-ng-options="act.name for act in categories">
                </select>


     <!--    <h2 class="form-login-heading">Chapter</h2>
        <textarea class="form-control" name="Text1" data-ng-model="newCreative.text" cols="40" rows="5" ... ></textarea>   
        <br>   -->
<br>
        <div class="col-md-4">
            &nbsp;
        </div>
            <div class="col-md-4">
                <button class="btn btn-md btn-info btn-block" type="submit" data-ng-click="createCreative()">Create</button>     
            </div> 

            <!-- <div class="col-md-6">
                <button class="btn btn-md btn-info btn-block" type="submit" data-ng-click="nextChapter()">Next Chapter</button>
            </div> -->
        </div>

        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</form>
    </div>
  </div>

    

    <div class="col-md-2">
        &nbsp;
    </div>
</div>
